* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    &::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --header-link-color: #fff;
    --section-color: #111;
}

body {
    font-family: 'Druk-Wide', sans-serif;
    font-weight: 700;
    background: var(--section-color);
}

picture {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: opacity .1s;
    &:hover {
        opacity: .4;
    }
    &:focus {
        opacity: .4;
    }
}

:focus {

}

:focus {
    outline: 0;
}

button {
    background: rgba($color: #000000, $alpha: 0);
    border: 0;
    cursor: pointer;
}

.container {
    max-width: 1870px;
    padding: 0 15px;
    margin: 0 auto;
}