// laptops
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .characters {
        &__container {
            padding-left: 0;
        }
    }
}

// tablets
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .promo {
        .header {
            display: none;
        }
    }

    .lowerbar {
        background: rgba(17, 17, 17, 0.6);

        &__container {
            position: relative;
            flex-wrap: wrap;
            width: 375px;
            padding: 20px;
        }

        &__icon {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            margin-bottom: auto;
        }

        &__text {
            max-width: 293px;
            margin: 0;
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 15px;
        }

        &__link {
            width: 335px;
            height: 55px;
        }

        &__close {
            top: 20px;
            right: 20px;
        }
    }

    .header-mobile {
        display: flex;
    }

    .teaser {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .characters {

        &__container {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__cards {
            gap: 16px;
        }

        &__card {
            background: #fff;
            color: #111;
            padding: 16px;

            &-text {
                color: #111;
            }
        }
    }

    .roadmap {
        &__container {
            padding-top: 40px;
            padding-bottom: 80px;
        }

        &__title {
            margin-bottom: 40px;
        }

        .accordion {
            grid-template-columns: 1fr;
            gap: 16px;

            &__left {
                justify-content: flex-start;
                height: 100%;
            }

            &__right {
                grid-column: 1/1;
                height: 599px;
            }

            &__item-header {
                padding: 20px 20px 16px 20px;
                font-size: 15px;
                line-height: 18px;
                &::after {
                    top: 20px;
                    right: 27px;
                }
            }

            &__item-text {
                padding: 0 20px 20px 20px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .choose {

        .form {
            padding: 20px;
        }

        &__go-back-btn {
            width: 100%;
        }

        &__block {
            grid-template-columns: 1fr;
            gap: 124px;
        }

        &__block-final {
            grid-template-columns: 1fr;

            &-right {
                &-btns {
                    flex-direction: column-reverse;
                }
            }
        }

        &__left {
        }

        &__right {
            justify-content: center;
            align-items: center;
            gap: 16px;

            &-block {
                width: 100%;
            }

            &-btn {
                min-width: 100%;
            }
        }

        &__slider {
            &-nav {
                bottom: -100px;
            }
            &-controls {
                top: 50%;
            }
        }
    }

    .footer {
        &__container {
            flex-direction: column-reverse;
            align-items: center;
            gap: 16px;
        }

        &__copyright {
            max-width: 343px;
            text-align: center;
        }

        &__link {
            opacity: 1;
        }
    }
}

// large mobiles
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        font-size: 28px;
        line-height: 34px;
    }

    .promo {
        background-image: url('../img/promo/bg-mobile.jpg');
    }

    .choose {
        &__title {
            max-width: 343px;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        &__buttons {
            margin-bottom: 52px;
            &-btn {
                width: 104px;
                height: 39px;
                // text
                font-size: 12px;
                line-height: 15px;
            }
        }

        &__block {
            gap: 64px;

            &-title {
                font-size: 15px;
                line-height: 18px;
            }
        }

        &__right {
            &-block {
                padding: 20px;

                &-text {
                    font-size: 12px;
                }
            }

            &-btn {
                margin-top: 8px;
            }
        }

        &__slider {
            &-nav {
                bottom: -24px;
                margin: 0 auto;
                justify-content: center;
                gap: 12px;
                .tns-nav-active {
                    opacity: 1;
                }
                &-item {
                    width: 8px;
                    height: 8px;
                    background-color: #fff;
                    background-image: none !important;
                    border-radius: 100%;
                    opacity: .4;
                }
            }
        }
    }

    
}

// small devices
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: initial 10px;
    }
}