.choose {
    &__container {
        padding-top: 96px;
        padding-bottom: 164px;
    }

    &__title {
        margin-bottom: 80px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 48px;
        animation: fade 1s 1 forwards;

        &-btn {
            width: 298.5px;
            height: 49px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 30px;
            // text 
            font-size: 14px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.4);
            transition: all .1s;
            &:hover {
                color: #fff;
            }
            &:focus {
                color: #fff;
            }
    
            &--active {
                background-color: rgba(255, 255, 255, 0.2);
                color: #fff;
            }
        }
    }

    &__go-back-btn {
        position: relative;
        width: 181px;
        height: 80px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(25px);
        // text
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        transition: all .1s;
        &:hover {
            opacity: .4;
        }
        &::after {
            content: " ";
            position: absolute;
            left: 20px;
            width: 20px;
            height: 20px;
            background: url('../icons/choose/arrow-left.svg') center (center/cover) no-repeat;
        }
    }

    &__block {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 597px));
        justify-content: center;
        gap: 24px;
        animation: fade 1s 1 forwards;

        &-title {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FFF;
        }
    }

    &__block-final {
        display: none;
        grid-template-columns: repeat(2, minmax(100px, 597px));
        grid-template-rows: 592px;
        justify-content: center;
        gap: 24px;
        animation: fade 1s 1 forwards;

        img {
            width: 100%;
        }

        &-right {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .choose__right-btn--form {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 400px;
                height: 80px;
            }
            &-btns {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }

    &__left {
        position: relative;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-block {
            padding: 40px;
            gap: 40px;
            background: #19181D;

            &-list {
                padding-left: 20px;
            }

            &-text {
                font-weight: 500;
                font-size: 13px;
                line-height: 18px;
                color: rgba(255, 255, 255, 0.4);
                &:not(:last-child) {
                    margin-bottom: 13.2px;
                }
            }
        }

        &-btn {
            position: relative;
            max-width: 597px;
            height: 80px;
            background: #FFF;
            border: 2px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(25px);
            // text 
            text-transform: uppercase;
            font-size: 14px;
            line-height: 17px;
            color: #111;
            transition: all .1s;
            &::after {
                content: "";
                position: absolute;
                left: 368px;
                width: 20px;
                height: 20px;
                background: url('../icons/choose/arrow.svg') center (center/cover) no-repeat;
            }
            &:hover {
                opacity: .4;
            }
            &:focus {
                opacity: .4;
            }

            &--form {
                position: relative;
                &::after {
                    content: " ";
                    position: absolute;
                    left: 53px;
                    width: 25px;
                    height: 25px;
                    background: url('../icons/choose/twitter.svg');
                }
                cursor: pointer;
            }
        }
    }

    &__slider {
        animation: fade 1s 1 forwards;

        &-slide {
            height: 100%;
        }

        &--heat {
            display: none;
        }

        &--jumper {
            display: none;
        }

        &--beestyx {
            display: none;
        }

        &-slide {
        }

        &-controls {
            position: absolute;
            top: 280px;
            left: 0;
            right: 0;
            padding: 0 20px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &-control {
            width: 32px;
            height: 32px;
            background: url('../icons/choose/arrow-right.svg') center (center/cover) no-repeat;
            &:last-child {
                transform: rotate(180deg);
            }
        }

        &-nav {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            animation: fade 1s 1 forwards;

            &--heat {
                display: none;
            }

            &--jumper {
                display: none;
            }

            &--beestyx {
                display: none;
            }

            .tns-nav-active {
                opacity: 1;
                border: 3px solid #fff;
            }

            &-item {
                width: 90px;
                height: 80px;
                transition: opacity .1s;
                opacity: .4;
                background: center (center/cover) no-repeat;
                &:hover {
                    opacity: 1;
                }
                &:focus {
                    opacity: 1;
                }
            }
        }
    }
}